extends layout

block content
  h4= title

  - var typeName = ['Super Admin', 'Admin', 'Office', 'Agent']
  table(style='width:100%', border='1')
    tr
      th Username 
      th Password 
      th Type
    each row in data 
      tr
        td= row['username']
        td= row['pwd_crypted']
        td= typeName[row['type']]