button(id="btnStartLoading" class="btn btn-info d-none" data-bs-toggle="modal" data-bs-target="#spinnerModal") loading
div(class="modal" id="spinnerModal" tabindex="-1" aria-labelledby="spinnerModalLabel" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered")
        div(class="modal-content text-bg-dark")
            div(class="modal-header d-none")
                
            div(class="modal-body")
                button(class="btn p-0 w-100" type="button" id="btnLoading" disabled)
                    span(class="spinner-border spinner-border-sm" aria-hidden="true")
                    span(class="pe-1" role="status") Loading...
                
            div(class="modal-footer d-none")
                button(id="btnEndLoading" class="btn btn-info" data-bs-dismiss="modal") Got it
script(src="javascripts/loading.pug.js")